<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="img/logo/shortcut.png"
    />

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="css/dripicons.css" />
    <link rel="stylesheet" href="css/slick.css" />
    <link rel="stylesheet" href="css/meanmenu.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="css/swiper.min.css" />
    <link rel="stylesheet" href="css/default.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="stylesheet" href="css/all.min.css" />
  </head>

  <body>
    <main class="pt-105">
      <!-- Header -->
      <header class="header" >
        <div class="nav">
           <a href="" style="background-color: transparent; color: #2277cc;">
            <i class="fa-solid fa-box" ></i>
            Все сервисы
        </a>
        <div>
          <a href="/">
            <i class="fa-solid fa-box"></i>
            Ваши грузы
          </a>
          <a href="/add_gruz">
            <i class="fa-solid fa-circle-plus"></i>
            Добавить груз
          </a>
        </div>
        </div>
        <div class="d-flex align-items-center" >
          <i class="fa-solid fa-user fs-3"></i>
          <div class="d-flex flex-column ms-3 me-2">
            <span class="fw-bold" style="font-size: 12px;">username</span>
            <span style="font-size: 12px;">Бесплатный</span>
          </div>
        </div>
      </header>
      <div>
        <div class="row">
          <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
              <ul class="sidebar-nav" style="margin-left:0;">
                <li
                  class="sidebar-brand flex"
                  style="display: flex;  align-items: center; justify-content: space-between;"
                >
                  <span style="margin-left: 10px; color: #39444f">Грузы и заказы</span>
                  <a href="#menu-toggle" id="menu-toggle">
                    <i
                      id="menu-sidebar-icon"
                      style=" color: #39444f"
                      class="fa-solid fa-angle-left"
                    ></i>
                  </a>
                </li>
                <li>
                  <a href="/"><i class="fa-solid fa-box"></i>
                    <span style="margin-left:10px;">Ваши грузы</span>
                  </a>
                </li>
                <li>
                  <a href="/archive"><i class="fa-solid fa-archive"></i>
                    <span style="margin-left:10px;">Архив грузов</span>
                  </a>
                </li>
                <div>
                  
                </div>
                <li
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseExample"
                  aria-expanded="false"
                  aria-controls="collapseExample"
                >
                  <a
                    id="order-toggle"
                    href="#"
                    style="position: relative;"
                  >
                    {{!-- <div> --}}
                      <i class="fa-solid fa-truck"></i>
                      <span style="margin-left:10px; ">
                        Заказы от вас
                      </span>
                    {{!-- </div> --}}
                  <i id="order-icon" class="fa-solid fa-angle-down" style="position: absolute; right: 0; top: 5px"></i>
                  </a> 
                </li>
                <div class="collapse mt-2" id="collapseExample">
                  <ul class="list-group">
                    <li style="margin-left: 50px; list-style: none;">
                      <a href="#">
                        <i class="sidebar-icon" style="font-size: 12px;">Согл</i>
                       <span>Согласование</span> 
                      </a>
                    </li>
                    <li style="margin-left: 50px; list-style: none;">
                      <a href="#">
                        <i class="sidebar-icon" style="font-size: 12px;">Исп</i>
                       <span>В исполнении</span> 
                      </a>                      
                    </li>
                    <li style="margin-left: 50px; list-style: none;">
                      <a href="#">
                        <i class="sidebar-icon" style="font-size: 12px;">ДО</i>
                       <span>Документы и оплата</span> 
                      </a>  
                    </li>
                    <li style="margin-left: 50px; list-style: none;">
                      <a href="#">
                        <i class="sidebar-icon" style="font-size: 12px;">Арх</i>
                       <span>Архив</span> 
                      </a> 
                    </li>
                    <li style="margin-left: 50px; list-style: none;">
                      <a href="#">
                        <i class="sidebar-icon" style="font-size: 12px;">Удл</i>
                       <span>Удалённые</span> 
                      </a> 
                    </li>
                  </ul>
                </div>
                <li>
                  <a href="#"><i class="fa-solid fa-file-alt"></i>
                    <span style="margin-left:10px;">Отчёты</span>
                  </a>
                </li>
                <li>
                  <a href="#"><i class="fa-solid fa-map-marker-alt"></i>
                    <span style="margin-left:10px;">Машины на карте</span>
                  </a>
                </li>
                <div>
                  <li>
                    <a href="#">
                      <i class="fa-solid fa-circle-question sidebar-icon"></i>
                      <span
                        style="margin-left:30px; font-size: 12px; color: #838b94"
                      >Часто задаваемые вопросы</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa-solid fa-comments sidebar-icon"></i>
                      <span
                        style="margin-left:30px; font-size: 12px; color: #838b94"
                      >Форум техподдержки</span>
                    </a>
                  </li>
                  <li>
                    <i class="fa-solid fa-phone sidebar-icon"></i>
                    <span
                      style="margin-left:30px; font-size: 12px; color: #838b94"
                    >Телефон техподдержки</span>
                  </li>
                  <li>
                    <a href="#">
                      <span
                        style="margin-left:30px; font-size: 12px; color: #838b94"
                      >+7 (812) 602-01-09</span>
                    </a>
                  </li>
                </div>
              </ul>

            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->


            <!-- /#page-content-wrapper -->
          </div>
          <!-- /#wrapper -->
        </div>
      </div>

    </main>

    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-3.6.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/paroller.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/js_isotope.pkgd.min.js"></script>
    <script src="js/imagesloaded.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/jquery.meanmenu.min.js"></script>
    <script src="js/parallax-scroll.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/element-in-view.js"></script>
    <script src="js/main.js"></script>
    <script>
      let isSidebarOpen = false 
      let isOrderOpen = false

      $('#menu-toggle').on('click', function() {
      isSidebarOpen= !isSidebarOpen

      $('#menu-sidebar-icon')
      .removeClass(isSidebarOpen ? 'fa-angle-left' : 'fa-angle-right')
      .addClass(isSidebarOpen ? 'fa-angle-right' : 'fa-angle-left') })
      
      $('#order-toggle').on('click', function() {
      isOrderOpen= !isOrderOpen

      $('#order-icon')
      .removeClass(isOrderOpen ? 'fa-angle-down' : 'fa-angle-up')
      .addClass(isOrderOpen ? 'fa-angle-up' : 'fa-angle-down') })

      $(document).ready(function () { $("#menu-toggle").click(function(e) {
      e.preventDefault(); 
      
      $("#wrapper").toggleClass("toggled"); }); });

      const links = document.querySelectorAll('.sidebar-nav li a');
      const currentPath = window.location.pathname;

      links.forEach(link => {
        if (link.getAttribute('href') === currentPath) {
          link.classList.add('active');
        }
      });
    </script>
  </body>
</html>