<html class="no-js" lang="ru">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="img/logo/shortcut.png" />

  <!-- CSS here -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/animate.min.css" />
  <link rel="stylesheet" href="css/magnific-popup.css" />
  <link rel="stylesheet" href="fontawesome/css/all.min.css" />
  <link rel="stylesheet" href="css/dripicons.css" />
  <link rel="stylesheet" href="css/slick.css" />
  <link rel="stylesheet" href="css/meanmenu.css" />
  <link rel="stylesheet" href="css/aos.css" />
  <link rel="stylesheet" href="css/swiper.min.css" />
  <link rel="stylesheet" href="css/default.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/responsive.css" />
  <link rel="stylesheet" href="css/all.min.css" />
</head>

<body>
  <main class="pt-105">
    <!-- Header -->
    <header class="header">
      <div class="nav">
        <a href="" style="background-color: transparent; color: #2277cc;">
          <i class="fa-solid fa-box"></i>
          Все сервисы
        </a>
        <div>
          <a href="/">
            <i class="fa-solid fa-box"></i>
            Ваши грузы
          </a>
          <a href="/add_gruz">
            <i class="fa-solid fa-circle-plus"></i>
            Добавить груз
          </a>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <i class="fa-solid fa-user fs-3"></i>
        <div class="d-flex flex-column ms-3 me-2">
          <span class="fw-bold" style="font-size: 12px;">username</span>
          <span style="font-size: 12px;">Бесплатный</span>
        </div>
      </div>
    </header>
    <div style="background-color: #f9f9fa; height: 100%; padding-top: 36px">
      <div class="row">
        <div id="wrapper">
          <!-- Sidebar -->
          <div id="sidebar-wrapper">
            <ul class="sidebar-nav" style="margin-left: 0;">
              <li class="sidebar-brand flex"
                style="display: flex;  align-items: center; justify-content: space-between;">
                <span style="margin-left: 10px; color: #39444f">Грузы и заказы</span>
                <a href="#menu-toggle" id="menu-toggle">
                  <i id="menu-sidebar-icon" style=" color: #39444f" class="fa-solid fa-angle-left"></i>
                </a>
              </li>
              <li>
                <a href="/"><i class="fa-solid fa-box active"></i>
                  <span style="margin-left:10px;">Ваши грузы</span>
                </a>
              </li>
              <li>
                <a href="/archive"><i class="fa-solid fa-archive active"></i>
                  <span style="margin-left:10px;">Архив грузов</span>
                </a>
              </li>
              <div>

              </div>
              <li data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample">
                <a id="order-toggle" href="#" style="position: relative;">
                  <i class="fa-solid fa-truck"></i>
                  <span style="margin-left:10px; ">
                    Заказы от вас
                  </span>
                  <i id="order-icon" class="fa-solid fa-angle-down" style="position: absolute; right: 0; top: 5px"></i>
                </a>
              </li>
              <div class="collapse mt-2" id="collapseExample">
                <ul class="list-group">
                  <li style="margin-left: 50px; list-style: none;">
                    <a href="#">
                      <i class="sidebar-icon" style="font-size: 12px;">Согл</i>
                      <span>Согласование</span>
                    </a>
                  </li>
                  <li style="margin-left: 50px; list-style: none;">
                    <a href="#">
                      <i class="sidebar-icon" style="font-size: 12px;">Исп</i>
                      <span>В исполнении</span>
                    </a>
                  </li>
                  <li style="margin-left: 50px; list-style: none;">
                    <a href="#">
                      <i class="sidebar-icon" style="font-size: 12px;">ДО</i>
                      <span>Документы и оплата</span>
                    </a>
                  </li>
                  <li style="margin-left: 50px; list-style: none;">
                    <a href="#">
                      <i class="sidebar-icon" style="font-size: 12px;">Арх</i>
                      <span>Архив</span>
                    </a>
                  </li>
                  <li style="margin-left: 50px; list-style: none;">
                    <a href="#">
                      <i class="sidebar-icon" style="font-size: 12px;">Удл</i>
                      <span>Удалённые</span>
                    </a>
                  </li>
                </ul>
              </div>
              <li>
                <a href="#"><i class="fa-solid fa-file-alt"></i>
                  <span style="margin-left:10px;">Отчёты</span>
                </a>
              </li>
              <li>
                <a href="#"><i class="fa-solid fa-map-marker-alt"></i>
                  <span style="margin-left:10px;">Машины на карте</span>
                </a>
              </li>
              <div>
                <li>
                  <a href="#">
                    <i class="fa-solid fa-circle-question sidebar-icon"></i>
                    <span style="margin-left:30px; font-size: 12px; color: #838b94">Часто задаваемые вопросы</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa-solid fa-comments sidebar-icon"></i>
                    <span style="margin-left:30px; font-size: 12px; color: #838b94">Форум техподдержки</span>
                  </a>
                </li>
                <li>
                  <i class="fa-solid fa-phone sidebar-icon"></i>
                  <span style="margin-left:30px; font-size: 12px; color: #838b94">Телефон техподдержки</span>
                </li>
                <li>
                  <a href="#">
                    <span style="margin-left:30px; font-size: 12px; color: #838b94">+7 (812) 602-01-09</span>
                  </a>
                </li>
              </div>
            </ul>

          </div>
          <!-- /#sidebar-wrapper -->

          <!-- Page Content -->
          <div id="page-content-wrapper" style="font-size: 12px; padding-top: 36px">
            <div style="display: flex; justify-content: space-between;">
              <h2 style="font-size: 20px; color: #071829">Ваши грузы</h2>
              <div style="display: flex;">
                <button class="btn btn-primary" style="padding: 0 12px; height: 30px; border-radius: 14px; font-size: 11px; background-color: #2277cc;text-transform: uppercase;    
                   border-top-right-radius: 0; 
                   border-bottom-right-radius: 0;">Добавить груз</button>
                <div class="dropdown show">

                  <button id="dropdownMenuLink" class="btn btn-primary dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false" style="padding: 0 12px; height: 30px; border-radius: 14px; font-size: 11px; background-color: #2277cc;text-transform: uppercase;    
                   border-top-left-radius: 0; 
                   border-bottom-left-radius: 0;">
                  </button>

                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="fa-solid fa-download"></i>
                        Добавить грузы из файла
                      </a>
                    </li>
                  </ul>

                </div>
              </div>

            </div>
            <hr />

            <section>
              <div style="gap: 20px; background-color: #e6e8ea; font-size: 12px; padding: 10px;">
                <div class="d-flex align-items-center" style="gap: 20px; background-color: #e6e8ea;">
                  <div class="d-flex" style="gap: 10px;">
                    <input type="text" class="form-control" placeholder="№ груза/лота/заказа"
                      style="font-size: 12px; width: 160px" />
                    <select class="form-control" style="width: 160px; font-size: 12px">
                      <option value="value1" selected>A</option>
                      <option value="value2">Все контакты</option>
                    </select>
                  </div>
                  <div class="d-flex" style="gap: 10px;">
                    <select class="form-control" style="width: 160px; font-size: 12px">
                      <option value="value1" selected>Все площадки</option>
                      <option value="value2">Все площадки</option>
                    </select>
                    <select class="form-control" style="width: 160px; font-size: 12px">
                      <option value="value1" selected>Все статусы грузов</option>
                      <option value="value2">Все статусы грузов</option>
                    </select>
                  </div>

                  <div>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />

                    <span>Встречные предложения</span>
                  </div>

                </div>
                <hr style="margin: 5px 0;" />

                <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-center" style="gap: 10px;">
                    <div class="d-flex align-items-center">
                      <input type="text" class="form-control" placeholder="Откуда"
                        style="font-size: 12px; width: 160px" />
                      <input type="text" class="form-control" placeholder="Куда"
                        style="font-size: 12px; width: 160px" />
                    </div>
                    <div class="d-flex align-items-center">
                      <span class="me-2">Вес</span>
                      <input type="text" class="form-control" placeholder="от" style="font-size: 12px; width: 60px" />
                      <input type="text" class="form-control" placeholder="до" style="font-size: 12px; width: 60px" />
                    </div>
                    <div class="d-flex align-items-center">
                      <span class="me-2">Объём</span>
                      <input type="text" class="form-control" placeholder="от" style="font-size: 12px; width: 60px" />
                      <input type="text" class="form-control" placeholder="до" style="font-size: 12px; width: 60px" />
                    </div>
                    <div class="d-flex align-items-center" style="color: #2277cc; gap: 10px">
                      <span>
                        Ещё фильтры
                      </span>
                      <i class="fa-solid fa-angle-down"></i>
                    </div>
                  </div>

                  <div class="d-flex align-items-center" style="gap: 10px;">
                    <span>Вид</span>
                    <i class="fa-solid fa-grip-lines" style="font-size: 18px"></i>
                    <i class="fa-solid fa-bars" style="font-size: 18px"></i>
                  </div>

                </div>
                <hr style="margin: 5px 0;" />

                <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-center" style="gap: 10px;">
                    <div class="d-flex align-items-center">
                      <span class="me-2">Загрузка</span>
                      <input type="text" class="form-control" placeholder="с" style="font-size: 12px; width: 60px" />
                      <input type="text" class="form-control" placeholder="по" style="font-size: 12px; width: 60px" />
                    </div>
                    <div class="d-flex align-items-center">
                      <span class="me-2">Разгрузка</span>
                      <input type="text" class="form-control" placeholder="с" style="font-size: 12px; width: 60px" />
                      <input type="text" class="form-control" placeholder="по" style="font-size: 12px; width: 60px" />
                    </div>
                    <div class="d-flex align-items-center">
                      <span class="me-2">Торги</span>
                      <select class="form-control" style="width: 160px; font-size: 12px">
                        <option value="value1" selected>неважно</option>
                        <option value="value2">неважно</option>
                      </select>
                    </div>

                  </div>
                </div>
              </div>
              <div class="main_table" style="padding: 10px ;">
                <div>
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <span style="font-weight: 400; color: #838b94">Направл.</span>
                </div>
                <div>
                  <span style="font-weight: 400; color: #838b94">
                    Загрузка
                  </span>
                </div>
                <div>
                  <span style="font-weight: 400; color: #838b94">
                    Разгрузка
                  </span>
                </div>
                <div>
                  <span style="font-weight: 400; color: #838b94">
                    Вес / объём, груз
                  </span>
                </div>
                <div>
                  <span style="font-weight: 400; color: #838b94">
                    Транспорт
                  </span>
                </div>
                <div>
                  <span style="font-weight: 400; color: #838b94">
                    Ставка
                  </span>
                </div>
              </div>
              <div class="mb-3"
                style="background-color: white; padding: 10px; box-shadow: 0 4px 4px rgba(0, 0, 0, .1);">
                <div class="main_table">
                  <div>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <span style="font-weight: 400; color: #838b94">#071829</span>
                    </div>
                    <div class="d-flex" style="gap: 5px;">
                      <i class="fa-solid fa-angle-up" style="color: #2277cc;"></i>
                      <div class="d-flex flex-column">
                        <span><b>KGZ - RUS</b></span>
                        <a href="/" style="color: #008300;">1000 км</a>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-column">
                    <span><b>Бишкек</b></span>
                    <span><i>город Бишкек</i></span>
                    <span><b>готов 22-23 мая</b></span>
                  </div>
                  <div>
                    <span><b>Новосибирск</b></span>
                  </div>
                  <div class="d-flex flex-column">
                    <span><b>20 т</b> / - Зерно и семена (в упаковке)</span>
                    <a href="/" style="color: #2277cc;"><i class="fa-solid fa-shield"></i> Застраховать груз</a>
                  </div>
                  <div class="d-flex flex-column">
                    <span><b>закр.+терм.</b></span>
                    <span>загр/выгр: задн.
                      отд.машина.</span>
                  </div>
                  <div class="d-flex flex-column">
                    <span><b>60 000</b> с НДС (30,1 руб/км)</span>
                    <span>без торга</span>
                    <div>
                      <button class="stavka-btn" style="background-color: #e7e9eb; color: #b6bbc0"><i
                          class="fa-solid fa-rotate-left"></i></button>
                      <button class="stavka-btn" style="background-color: #2277cc; color: white">
                        <i class="fa-solid fa-message"></i>
                      </button>
                      <button class="stavka-btn" style="background-color: #f0b104; color: white">
                        <i class="fa-solid fa-pen"></i>
                      </button>
                      <button class="stavka-btn" style="background-color: #2eaaaa; color: white">
                        <i class="fa-solid fa-copy"></i>
                      </button>
                      <button class="stavka-btn" style="background-color: #1e78cd; color: white">
                        <i class="fa-solid fa-truck"></i>
                      </button>
                      <button class="stavka-btn" style="background-color: #6550bb; color: white">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                      </button>
                      <button class="stavka-btn" style="border: 1px solid #1e78cd; color: #1e78cd"><i
                          class="fa-solid fa-ellipsis"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-column mt-4">
                  <div style="color: #848d96; display: flex; align-items: center; gap: 8px;">
                    <i class="fa-solid fa-truck-fast" style="color: #2377cc;"></i>
                    <span>Бишкек (22-23 мая)</span>
                    <i class="fa-solid fa-arrow-right"></i>
                    <i class="fa-solid fa-truck-fast" style="color: #06a401;"></i>
                    <span>Новосибирск</span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mt-2">
                    <div>
                      <span>user</span>
                      <i class="fa-solid fa-pen"></i>
                    </div>
                    <div class="d-flex align-items-center" style="gap: 10px;">
                      <span>доб 22 мая</span>
                      <button class="form-btn" style="text-transform: uppercase;">
                        Заполнить из шаблона
                      </button>
                      <span style="color: #dc5056;">
                        <i class="fa-solid fa-trash-can" style="font-size: 18px;"></i>
                      </span>
                    </div>
                  </div>

                </div>
              </div>

              <div class="mb-3"
                style="background-color: white; padding: 10px; box-shadow: 0 4px 4px rgba(0, 0, 0, .1);">
                <div class="main_table">
                  <div>
                    <div>
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <span style="font-weight: 400; color: #838b94">#071829</span>
                    </div>
                    <div class="d-flex" style="gap: 5px;">
                      <i class="fa-solid fa-angle-up" style="color: #2277cc;"></i>
                      <div class="d-flex flex-column">
                        <span><b>KGZ - RUS</b></span>
                        <a href="/" style="color: #008300;">1000 км</a>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-column">
                    <span><b>Бишкек</b></span>
                    <span><i>город Бишкек</i></span>
                    <span><b>готов 22-23 мая</b></span>
                  </div>
                  <div>
                    <span><b>Новосибирск</b></span>
                  </div>
                  <div class="d-flex flex-column">
                    <span><b>20 т</b> / - Зерно и семена (в упаковке)</span>
                    <a href="/" style="color: #2277cc;"><i class="fa-solid fa-shield"></i> Застраховать груз</a>
                  </div>
                  <div class="d-flex flex-column">
                    <span><b>закр.+терм.</b></span>
                    <span>загр/выгр: задн.
                      отд.машина.</span>
                  </div>
                  <div class="d-flex flex-column">
                    <span><b>60 000</b> с НДС (30,1 руб/км)</span>
                    <span>без торга</span>
                    <div>
                      <button class="stavka-btn" style="background-color: #e7e9eb; color: #b6bbc0"><i
                          class="fa-solid fa-rotate-left"></i></button>
                      <button class="stavka-btn" style="background-color: #2277cc; color: white">
                        <i class="fa-solid fa-message"></i>
                      </button>
                      <button class="stavka-btn" style="background-color: #f0b104; color: white">
                        <i class="fa-solid fa-pen"></i>
                      </button>
                      <button class="stavka-btn" style="background-color: #2eaaaa; color: white">
                        <i class="fa-solid fa-copy"></i>
                      </button>
                      <button class="stavka-btn" style="background-color: #1e78cd; color: white">
                        <i class="fa-solid fa-truck"></i>
                      </button>
                      <button class="stavka-btn" style="background-color: #6550bb; color: white">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                      </button>
                      <button class="stavka-btn" style="border: 1px solid #1e78cd; color: #1e78cd"><i
                          class="fa-solid fa-ellipsis"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-column mt-4">
                  <div style="color: #848d96; display: flex; align-items: center; gap: 8px;">
                    <i class="fa-solid fa-truck-fast" style="color: #2377cc;"></i>
                    <span>Бишкек (22-23 мая)</span>
                    <i class="fa-solid fa-arrow-right"></i>
                    <i class="fa-solid fa-truck-fast" style="color: #06a401;"></i>
                    <span>Новосибирск</span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mt-2">
                    <div>
                      <span>user</span>
                      <i class="fa-solid fa-pen"></i>
                    </div>
                    <div class="d-flex align-items-center" style="gap: 10px;">
                      <span>доб 22 мая</span>
                      <button class="form-btn" style="text-transform: uppercase;">
                        Заполнить из шаблона
                      </button>
                      <span style="color: #dc5056;">
                        <i class="fa-solid fa-trash-can" style="font-size: 18px;"></i>
                      </span>
                    </div>
                  </div>

                </div>
              </div>

            </section>

            {{! <div class="no-content">
              <i class="fa-solid fa-box-open" style="font-size: 44px;"></i>
              <span style="font-size: 16px; color: #838b94">Здесь будут ваши
                грузы</span>
              <p style="font-size: 12px; color: #838b94; margin-bottom: 0">Добавьте их или
                <a href="/add_gruz" style="text-decoration: none;">восстановите из архива</a>
              </p>
              <button class="btn btn-primary"
                style="padding: 0 12px; height: 30px; border-radius: 14px; font-size: 11px; background-color: #2277cc;text-transform: uppercase;">Добавить
                груз</button>
            </div> }}

          </div>

          <!-- /#page-content-wrapper -->
        </div>
        <!-- /#wrapper -->
      </div>
    </div>

  </main>

  <!-- JS here -->
  <script src="js/vendor/modernizr-3.5.0.min.js"></script>
  <script src="js/vendor/jquery-3.6.0.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/ajax-form.js"></script>
  <script src="js/paroller.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/js_isotope.pkgd.min.js"></script>
  <script src="js/imagesloaded.min.js"></script>
  <script src="js/parallax.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.counterup.min.js"></script>
  <script src="js/jquery.scrollUp.min.js"></script>
  <script src="js/jquery.meanmenu.min.js"></script>
  <script src="js/parallax-scroll.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/element-in-view.js"></script>
  <script src="js/main.js"></script>
  <script>
    let isSidebarOpen = false
    let isOrderOpen = false

    $('#menu-toggle').on('click', function () {
      isSidebarOpen = !isSidebarOpen

      $('#menu-sidebar-icon')
        .removeClass(isSidebarOpen ? 'fa-angle-left' : 'fa-angle-right')
        .addClass(isSidebarOpen ? 'fa-angle-right' : 'fa-angle-left')
    })

    $('#order-toggle').on('click', function () {
      isOrderOpen = !isOrderOpen

      $('#order-icon')
        .removeClass(isOrderOpen ? 'fa-angle-down' : 'fa-angle-up')
        .addClass(isOrderOpen ? 'fa-angle-up' : 'fa-angle-down')
    })

    $(document).ready(function () {
      $("#menu-toggle").click(function (e) {
        e.preventDefault();

        $("#wrapper").toggleClass("toggled");
      });
    });

    const links = document.querySelectorAll('.sidebar-nav li a');
    const currentPath = window.location.pathname;

    links.forEach(link => {
      if (link.getAttribute('href') === currentPath) {
        link.classList.add('active');
      }
    });
  </script>
</body>

</html>