<html class="no-js" lang="ru">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="img/logo/shortcut.png" />

  <!-- CSS here -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/all.min.css" />
</head>

<body>
  <main>
    <!-- Header -->
    <header class="header">
      <div class="nav">
        <a href="" style="background-color: transparent; color: #2277cc;">
          <i class="fa-solid fa-box"></i>
          Все сервисы
        </a>
        <div>
          <a href="/">
            <i class="fa-solid fa-box"></i>
            Ваши грузы
          </a>
          <a href="/add_gruz">
            <i class="fa-solid fa-circle-plus"></i>
            Добавить груз
          </a>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <i class="fa-solid fa-user fs-3"></i>
        <div class="d-flex flex-column ms-3 me-2">
          <span class="fw-bold" style="font-size: 12px;">username</span>
          <span style="font-size: 12px;">Бесплатный</span>
        </div>
      </div>
    </header>
    <div>
      <div class="main">
        <div class="container">
          <!-- Page Content -->
          <section>
            <div class="d-flex align-items-center justify-content-between;">
              <div class="d-flex align-items-center justify-content-between" style="width: 70%;">
                <h2>Добавить груз</h2>
                <div>
                  <button class="form-btn" style="text-transform: uppercase;">
                    Заполнить из шаблона
                  </button>
                  <button class="form-btn" style="text-transform: uppercase;">
                    Очистить форму
                  </button>
                </div>
              </div>
              <div class="d-flex justify-content-end" style="width: 30%;">
                <div class="d-flex align-items-center">
                  <span class="me-2">Тёмная тема</span>
                  <div class="form-check form-switch" style="min-height: 0;">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between; " style="position: relative; ">
              <div class="form_wrap mt-4">

                <div id="gruz">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex">
                      <i class="fa-solid fa-star-of-life" style="color: red; font-size: 8px"></i>
                      <h4 class="ms-2" style="width: 10%; font-size: 14px; font-weight: 700;">Груз</h4>
                    </div>

                    <div style="width: 80%;" class="d-flex flex-column">
                      <div class="d-flex align-items-center mb-2 gap-2">
                        <div>
                          <input type="text" class="form-control" placeholder="Введите описание груза"
                            style="width: 220px" />
                        </div>
                        <div>
                          <input type="text" class="form-control" placeholder="Вес" style="width:70px" />
                        </div>
                        <div>
                          <select name="select" class="form-control" style="height: 32px; width:70px;">
                            <option value="value1" selected>т</option>
                            <option value="value2">кг</option>
                          </select>
                        </div>

                        <div>
                          <input type="text" class="form-control" placeholder="Объём м³" style="width: 85px" />
                        </div>
                        <span class="form-label" style="font-size: 12px; color: #838b94; line-height: 1.2;">В
                          расчёте на одну машину</span>
                      </div>

                      <div class="d-none" id="quantity">
                        <div class="d-flex gap-2" style="font-size: 12px;">
                          <span id="close_quantity"><i class="fa-solid fa-xmark" style="font-size: 16px;"></i></span>
                          <label>Упаковка
                            <select class="form-control mt-2" style="height: 32px; width:200px;"
                              placeholder="Выберите упаковку">
                              <option value="" selected>не выбрано</option>
                              <option value="value1">т</option>
                              <option value="value2">кг</option>
                            </select>
                          </label>
                          <label class="mb-3">
                            Кол-во
                            <input type="text" class="form-control mt-2" placeholder="шт." style="width: 50px" />
                          </label>
                        </div>
                      </div>

                      <div class="mb-3 d-none" id="dimensions">
                        <div class="d-flex gap-2" style="font-size: 12px;">
                          <span id="close_dimensions"><i class="fa-solid fa-xmark" style="font-size: 16px;"></i></span>
                          <label class="gap-2">
                            Габариты, ДхШхВ
                            <div class="d-flex gap-2 mt-2">
                              <div class="d-flex flex-column gap-2">
                                <input type="text" class="form-control" placeholder="м" style="width: 60px" />
                                <div>
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  <span>особые</span>
                                </div>
                              </div>
                              <div class="d-flex flex-column gap-2">
                                <input type="text" class="form-control" placeholder="м" style="width: 60px" />
                                <div>
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  <span>особые</span>
                                </div>
                              </div>
                              <div class="d-flex flex-column gap-2">
                                <input type="text" class="form-control" placeholder="м" style="width: 60px" />
                                <div>
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  <span>особые</span>
                                </div>
                              </div>
                            </div>
                          </label>
                          <label class="ms-3">
                            Диаметр
                            <input type="text" class="form-control mt-2" placeholder="м" style="width: 60px" />

                          </label>
                          <span class="mt-4" style="color: #838b94;">
                            «Особые» габариты будут выделены в поиске, чтобы
                            перевозчики обратили на них
                            внимание.
                          </span>
                        </div>

                      </div>

                      <div class="mb-3">
                        <button class="form-btn" id="quantity_btn">
                          <i class="fa-solid fa-plus"></i>
                          Упаковка и кол-во
                        </button>
                        <button class="form-btn" id="dimensions_btn">
                          <i class="fa-solid fa-plus"></i>
                          Габариты и диаметр
                        </button>
                        <button class="form-btn" id="gruz_btn">
                          <i class="fa-solid fa-plus"></i>
                          Еще груз
                        </button>
                      </div>
                    </div>
                  </div>
                  <hr />
                </div>

                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <i class="fa-solid fa-star-of-life" style="color: red; font-size: 8px"></i>
                    <h4 class="ms-2" style="width: 10%; font-size: 14px; font-weight: 700;">Когда</h4>
                  </div>

                  <div style="width: 80%;" class="d-flex flex-column">
                    <div class="d-flex justify-content-between align-items-center mb-2 gap-2">
                      <div>
                        <select name="select" class="form-control" style="height: 32px; width:220px;">
                          <option value="value1" selected>Готов к загрузке</option>
                          <option value="value2">Постоянно</option>
                          <option value="value2">Груза нет, запрос ставки</option>
                        </select>
                      </div>
                      <div>
                        <input type="date" class="form-control" placeholder="Вес" style="width:120px" />
                      </div>
                      +
                      <div>
                        <select name="select" class="form-control" style="height: 32px; width:70px;">
                          <option value="value1" selected>0 дн.</option>
                          <option value="value2">1 дн.</option>
                          <option value="value3">2 дн.</option>
                        </select>
                      </div>
                      <span class="form-label" style="font-size: 12px; color: #838b94; line-height: 1.2;">до 23 мая,
                        затем переместится в архив</span>
                    </div>
                  </div>
                </div>
                <hr />

                <div id="load_gruz">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex">
                      <i class="fa-solid fa-star-of-life" style="color: red; font-size: 8px"></i>
                      <h4 class="ms-2" style="width: 10%; font-size: 14px; font-weight: 700;">Загрузка</h4>
                    </div>

                    <div style="width: 80%;" class="d-flex flex-column">
                      <div class="d-flex align-items-center mb-2 gap-2">
                        <div>
                          <input type="text" class="form-control" placeholder="Населенный пункт" style="width: 220px" />
                        </div>
                        <div>
                          <input type="text" class="form-control" placeholder="Адрес в населённом пункте"
                            style="width: 220px" />
                        </div>
                        <span class="form-label"
                          style="font-size: 12px; color: #838b94; line-height: 1.2; margin-bottom: 0">
                          <i class="fa-solid fa-location-dot"></i>
                          <i class="fa-solid fa-bars"></i>
                        </span>
                      </div>

                      <div class="d-none" id="loading_time">
                        <div class="d-flex" style="gap: 5px; font-size: 12px;">
                          <span id="close_loading_time"><i class="fa-solid fa-xmark"
                              style="font-size: 16px;"></i></span>
                          <label>
                            Время загрузки
                            <div class="mt-2">
                              <div class="d-flex align-items-center mb-2 gap-2">
                                <input id="appointment-time" type="time" name="appointment-time" class="form-control"
                                  placeholder="00:00" style="width: 80px" /> -
                                <input id="appointment-time" type="time" name="appointment-time" class="form-control"
                                  placeholder="00:00" style="width: 80px" />
                              </div>

                              <div>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <span>круглосуточно</span>
                              </div>
                            </div>
                          </label>
                        </div>

                      </div>

                      <div class="mb-3">
                        <button class="form-btn" id="loading_time_btn">
                          <i class="fa-solid fa-plus"></i>
                          Время загрузки
                        </button>
                      </div>

                      <div class="mb-3 d-flex" style="font-size: 12px;">
                        <span>Добавить точку маршрута:</span>
                        <div class="blue_span ms-2" id="zagruzka_gruz_btn">
                          <i class="fa-solid fa-circle-plus"></i>
                          <span>Загрузка</span>
                        </div>
                        <div class="blue_span ms-2" id="razgruzka_gruz_btn">
                          <i class="fa-solid fa-circle-plus"></i>
                          <span>Разгрузка</span>
                        </div>
                        <div class="blue_span ms-2" id="proezd_gruz_btn">
                          <i class="fa-solid fa-circle-plus"></i>
                          <span>Ехать через</span>
                        </div>
                        <div class="blue_span ms-2" id="tamojnya_gruz_btn">
                          <i class="fa-solid fa-circle-plus"></i>
                          <span>Таможня</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="load_dop_gruz_wrap" class="d-none">
                  <div class="d-none" id="load_dop_gruz">
                  </div>
                  <div class="d-none" id="zagruzka_gruz">

                  </div>

                  <div class="d-none" id="razgruzka_gruz">

                  </div>

                  <div class="d-none" id="proezd_gruz">

                  </div>

                  <div class="d-none" id="tamojnya_gruz">

                  </div>


                  <div class="d-none " id="dop_loading_time" style="padding-left: 20%;">
                    <div class="d-flex mb-3" style="gap: 5px; font-size: 12px;">
                      <span id="close_dop_loading_time"><i class="fa-solid fa-xmark"
                          style="font-size: 16px;"></i></span>
                      <label>
                        Время загрузки
                        <div class="mt-2">
                          <div class="d-flex align-items-center mb-2 gap-2">
                            <input id="appointment-time" type="time" name="appointment-time" class="form-control"
                              placeholder="00:00" style="width: 80px" /> -
                            <input id="appointment-time" type="time" name="appointment-time" class="form-control"
                              placeholder="00:00" style="width: 80px" />
                          </div>

                          <div>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <span>круглосуточно</span>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>

                  <div class="d-flex flex-column" style="padding-left: 20%;">
                    <div class="mb-3">
                      <button class="form-btn" id="dop_loading_time_btn">
                        <i class="fa-solid fa-plus"></i>
                        Время загрузки
                      </button>
                      <button class="form-btn" id="dop_gruz_btn">
                        <i class="fa-solid fa-plus"></i>
                        Еще груз
                      </button>
                    </div>

                    <div class="mb-3 d-flex" style="font-size: 12px;">
                      <span>Добавить точку маршрута:</span>
                      <div class="blue_span ms-2" id="zagruzka_gruz_btn">
                        <i class="fa-solid fa-circle-plus"></i>
                        <span>Загрузка</span>
                      </div>
                      <div class="blue_span ms-2" id="razgruzka_gruz_btn">
                        <i class="fa-solid fa-circle-plus"></i>
                        <span>Разгрузка</span>
                      </div>
                      <div class="blue_span ms-2" id="proezd_gruz_btn">
                        <i class="fa-solid fa-circle-plus"></i>
                        <span>Ехать через</span>
                      </div>
                      <div class="blue_span ms-2" id="tamojnya_gruz_btn">
                        <i class="fa-solid fa-circle-plus"></i>
                        <span>Таможня</span>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="mb-3 d-flex justify-content-between">
                  <div class="d-flex">
                    <i class="fa-solid fa-star-of-life" style="color: red; font-size: 8px"></i>
                    <h4 class="ms-2" style="width: 10%; font-size: 14px; font-weight: 700;">Разгрузка</h4>
                  </div>

                  <div style="width: 80%;" class="d-flex flex-column">
                    <div class="d-flex align-items-center mb-2 gap-2">
                      <div>
                        <input type="text" class="form-control" placeholder="Населенный пункт" style="width: 220px" />
                      </div>
                      <div>
                        <input type="text" class="form-control" placeholder="Адрес в населённом пункте"
                          style="width: 220px" />
                      </div>
                      <span class="form-label"
                        style="font-size: 12px; color: #838b94; line-height: 1.2; margin-bottom: 0">
                        <i class="fa-solid fa-location-dot"></i>
                        <i class="fa-solid fa-bars"></i>
                      </span>
                    </div>

                    <div class="d-none" id="date_time">
                      <div class="d-flex" style="gap: 5px; font-size: 12px;">
                        <span id="close_date_time"><i class="fa-solid fa-xmark" style="font-size: 16px;"></i></span>
                        <label>
                          Дата и время
                          <div class="d-flex mt-2" style="gap: 15px;">
                            <div class="d-flex gap-2">
                              <div>
                                <input type="date" class="form-control mb-2" placeholder="Выберите дату"
                                  style="width: 180px" />
                                <div>
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  <span>диапазон</span>
                                </div>
                              </div>
                            </div>
                            <div>
                              <div class="d-flex align-items-center mb-2 gap-2">
                                <input id="appointment-time" type="time" name="appointment-time" class="form-control"
                                  placeholder="00:00" style="width: 80px" /> -
                                <input id="appointment-time" type="time" name="appointment-time" class="form-control"
                                  placeholder="00:00" style="width: 80px" />
                              </div>
                              <div>
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <span>круглосуточно</span>
                              </div>
                            </div>
                          </div>

                        </label>
                      </div>

                    </div>

                    <div class="mb-1">
                      <button class="form-btn" id="date_time_btn">
                        <i class="fa-solid fa-plus"></i>
                        Дата и время
                      </button>
                    </div>
                  </div>
                </div>
                <div class="mb-3 d-flex justify-content-between">
                  <div class="d-flex">
                    <h4 class="ms-2" style="width: 10%; font-size: 14px; font-weight: 700;">Маршрут</h4>
                  </div>
                  <div style="width: 80%; gap: 5px" class="d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <span style="color: #b5babf; font-size: 12px">кругорейс</span>
                    <i class="fa-solid fa-circle-question" style="color: #b5babf"></i>
                  </div>
                </div>
                <hr />

                <div class="row" style="width: 100%;">
                  <div class="d-flex justify-content-between flex-column col">
                    <div class="d-flex">
                      <i class="fa-solid fa-star-of-life" style="color: red; font-size: 8px"></i>
                      <h4 class="ms-2" style="font-size: 14px; font-weight: 700;">Когда</h4>
                    </div>
                    <div class="car-carcase">
                      <div>
                        <input type="text" class="form-control" placeholder="Поиск" style="font-size: 12px;" />
                      </div>
                      <div>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>тентованный</span>
                      </div>
                      <div>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>тентованный</span>
                      </div>
                      <div>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>тентованный</span>
                      </div>
                      <div>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>тентованный</span>
                      </div>
                      <div>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>тентованный</span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between flex-column col">
                    <div class="d-flex justify-content-between" style="font-size: 12px">
                      <span>Загрузка</span>
                      <div>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span style="color: #b5babf">учитывать все выбранные</span>
                      </div>
                    </div>
                    <div class="car-carcase">
                      <div>
                        <input type="text" class="form-control" placeholder="Поиск" style="font-size: 12px;" />
                      </div>
                      <div>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>тентованный</span>
                      </div>
                      <div>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>тентованный</span>
                      </div>
                      <div>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>тентованный</span>
                      </div>
                      <div>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>тентованный</span>
                      </div>
                      <div>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>тентованный</span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between flex-column col">
                    <div class="d-flex justify-content-between" style="font-size: 12px">
                      <span>Выгрузка</span>
                      <div>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span style="color: #b5babf">учитывать все выбранные</span>
                      </div>
                    </div>
                    <div class="car-carcase">
                      <div>
                        <input type="text" class="form-control" placeholder="Поиск" style="font-size: 12px;" />
                      </div>
                      <div>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>тентованный</span>
                      </div>
                      <div>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>тентованный</span>
                      </div>
                      <div>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>тентованный</span>
                      </div>
                      <div>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>тентованный</span>
                      </div>
                      <div>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>тентованный</span>
                      </div>
                    </div>
                  </div>
                  <div class="mt-3 d-flex" style="font-size: 12px;">
                    <span style="width: 150px;">Загрузка</span>
                    <div class="d-flex flex-column">
                      <div>
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <span>отдельной машиной (FTL)</span>
                        <i class="fa-solid fa-circle-question" style="color: #b5babf"></i>
                      </div>
                      <div>
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <span>отдельной машиной или догрузом (FTL или LTL)</span>
                        <i class="fa-solid fa-circle-question" style="color: #b5babf"></i>
                      </div>
                    </div>
                  </div>
                  <div class="mt-3 d-flex" style="font-size: 12px;">
                    <span style="width: 150px; ">GPS-мониторинг</span>
                    <div class="d-flex flex-column">
                      <div>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>запросить у перевозчика GPS-мониторинг груза с помощью бесплатного сервиса</span>
                      </div>
                      <div style=" padding:  5px 10px">
                        <span>Убедитесь, что адрес заполнен. Так водитель будет знать, куда ехать</span>
                      </div>
                    </div>
                  </div>

                  <div style="font-size: 12px;">
                    <div class="d-none" id="num_cars">
                      <div class="d-flex mt-3">
                        <div style="width: 150px;">
                          <span id="close_num_cars"><i class="fa-solid fa-xmark" style="font-size: 16px;"></i></span>
                          <span>Кол-во машин</span>
                        </div>
                        <input type="text" class="form-control" value="1" placeholder="м" style="width: 60px" />
                      </div>
                    </div>
                    <div class="d-none" id="crew">
                      <div class="d-flex mt-3">
                        <div style="width: 150px;">
                          <span id="close_crew"><i class="fa-solid fa-xmark" style="font-size: 16px;"></i></span>
                          <span>Экипаж</span>
                        </div>
                        <span>Требуется 2 водителя</span>
                      </div>
                    </div>
                    <div class="d-none" id="adr">
                      <div class="d-flex align-items-center mt-3">
                        <div style="width: 150px;">
                          <span id="close_adr"><i class="fa-solid fa-xmark" style="font-size: 16px;"></i></span>
                          <span>ADR</span>
                        </div>
                        <input type="text" class="form-control" placeholder="1-9" style="width: 60px" />
                        <span style="color: #838b94; margin-left: 10px">
                          Класс опасности груза
                          <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </span>
                      </div>
                    </div>
                    <div class="d-none" id="trailer_setup">
                      <div class="d-flex align-items-center mt-3">
                        <div style="width: 150px;">
                          <span id="close_trailer_setup"><i class="fa-solid fa-xmark"
                              style="font-size: 16px;"></i></span>
                          <span>Требования</span>
                        </div>
                        <div class="d-flex" style="gap: 50px;">
                          <div class="gap-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <span>Сцепка</span>
                          </div>
                          <div class="gap-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <span>Пневмоход</span>
                          </div>
                          <div class="gap-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <span>Коники</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="d-none" id="tir">
                      <div class="d-flex align-items-center mt-3">
                        <div style="width: 150px;">
                          <span id="close_tir"><i class="fa-solid fa-xmark" style="font-size: 16px;"></i></span>
                          <span>Разрешения</span>
                        </div>
                        <div class="d-flex" style="gap: 50px;">
                          <div class="gap-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <span>TIR</span>
                            <i class="fa-solid fa-circle-question" style="color: #b5babf"></i>
                          </div>
                          <div class="gap-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <span>T1</span>
                            <i class="fa-solid fa-circle-question" style="color: #b5babf"></i>
                          </div>
                          <div class="gap-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <span>CMR</span>
                            <i class="fa-solid fa-circle-question" style="color: #b5babf"></i>
                          </div>
                          <div class="gap-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <span>Медкнижка</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="d-none" id="belts">
                      <div class="d-flex mt-3">
                        <div style="width: 150px;">
                          <span id="close_belts"><i class="fa-solid fa-xmark" style="font-size: 16px;"></i></span>
                          <span>Ремней</span>
                        </div>
                        <input type="text" class="form-control" placeholder="шт" style="width: 60px" />
                      </div>
                    </div>

                    <div class="d-none" id="capacity">
                      <div class="d-flex mt-3">
                        <div style="width: 150px;">
                          <span id="close_capacity"><i class="fa-solid fa-xmark" style="font-size: 16px;"></i></span>
                          <span>Грузоподъемность</span>
                        </div>
                        <input type="text" class="form-control" placeholder="т" style="width: 60px" />
                        <span style="color: #838b94; margin-left: 10px">
                          Выберите или введите требуемую грузоподъемность ТС
                        </span>
                      </div>
                    </div>
                  </div>


                  <div class="mt-3 d-flex" style="font-size: 12px;">
                    <span style="width: 128px; ">Добавить</span>
                    <div class="d-flex flex-column">
                      <div class="mb-3">
                        <button class="form-btn" id="num_cars_btn">
                          <i class="fa-solid fa-plus"></i>
                          Кол-во машин
                        </button>
                        <button class="form-btn" id="crew_btn">
                          <i class="fa-solid fa-plus"></i>
                          Экипаж
                        </button>
                        <button class="form-btn" id="adr_btn">
                          <i class="fa-solid fa-plus"></i>
                          ADR
                        </button>
                        <button class="form-btn" id="trailer_setup_btn">
                          <i class="fa-solid fa-plus"></i>
                          Сцепка, пневмоход, коники
                        </button>
                      </div>
                      <div class="mb-3">
                        <button class="form-btn" id="tir_btn">
                          <i class="fa-solid fa-plus"></i>
                          TIR, CMR, T1, Медкнижка
                        </button>
                        <button class="form-btn" id="belts_btn">
                          <i class="fa-solid fa-plus"></i>
                          Ремней, шт
                        </button>
                        <button class="form-btn" id="capacity_btn">
                          <i class="fa-solid fa-plus"></i>
                          Грузоподъемность
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <hr />

                <div class="mb-3 d-flex justify-content-between flex-column" style="font-size: 12px;">
                  <div class="mb-3">
                    <button id="torg_btn" class="bid_btn">Возможен торг</button>
                    <button id="no_torg_btn" class="bid_btn">Без торга</button>
                    <button id="zapros_btn" class="bid_btn">Запрос</button>
                    <button id="torgi_btn" class="bid_btn">Торги</button>
                  </div>
                  <div id="torg_wrap">
                    <span id="torg_text">Участники ATI.SU увидят, что возможен торг, и смогут
                      предложить свою
                      ставку</span>
                    <span id="no_torg_text" class="d-none">Участники ATI.SU смогут предлагать свои услуги только
                      по вашей ставке</span>
                    <div class="mt-3">
                      <div class="d-flex">
                        <i class="fa-solid fa-star-of-life" style="color: red; font-size: 8px"></i>
                        <h4 class="ms-2" style="width: 20%; font-size: 14px; font-weight: 700;">Ставка</h4>
                      </div>
                      <div class="mb-3 d-flex gap-2">
                        <div style="width: 128px;">
                          <span>С НДС, безнал</span>
                        </div>
                        <input type="text" class="form-control" style="width: 150px;">
                        <select class="form-control" style="width: 85px; font-size: 12px">
                          <option value="value1" selected>сом</option>
                          <option value="value2">руб</option>
                        </select>
                      </div>
                      <div class="mb-3 d-flex align-items-center gap-2">
                        <div style="width: 128px;">
                          <span>Без НДС, безнал</span>
                        </div>
                        <input type="text" class="form-control" style="width: 150px;">
                        <span>кырг.сом</span>
                      </div>
                      <div class="mb-3 d-flex align-items-center gap-2">
                        <div style="width: 128px;">
                          <span>Наличными</span>
                        </div>
                        <div class="d-flex flex-column gap-2">
                          <div class="d-flex align-items-center gap-2">
                            <input type="text" class="form-control" style="width: 150px;">
                            <span>кырг.сом</span>
                          </div>
                          <div class="d-flex gap-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <span>на карту</span>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex gap-2">
                        <div style="width: 128px;">
                          <span>Встречные предложения</span>
                        </div>
                        <div>
                          <div class="d-flex gap-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <span>видны только вам</span>
                          </div>
                          <div id="torg">
                            <div class="d-flex align-items-center gap-2">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              <span>через 30 минут предложить груз участнику с лучшей ставкой.</span>
                              <i class="fa-solid fa-circle-question" style="color: #b5babf"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="zapros_wrap" class="d-none">
                    <span>Участники ATI.SU смогут предложить свою ставку</span>
                    <div class="mt-3">
                      <div class="mb-3 d-flex gap-2">
                        <div style="width: 128px;">
                          <span>Можно предлагать</span>
                        </div>
                        <div class="d-flex flex-column">
                          <div class="d-flex flex-column">
                            <div class="d-flex gap-2">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                              <span>С НДС, безнал</span>
                            </div>
                          </div>
                          <div class="d-flex flex-column">
                            <div class="d-flex gap-2">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                              <span>Без НДС, безнал</span>
                            </div>
                          </div>
                          <div class="d-flex flex-column">
                            <div class="d-flex gap-2">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                              <span>Наличными</span>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="d-flex gap-2">
                        <div style="width: 128px;">
                          <span>Встречные предложения</span>
                        </div>
                        <div>
                          <div class="d-flex gap-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <span>видны только вам</span>
                          </div>
                          <div>
                            <div class="d-flex align-items-center gap-2">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              <span>через 30 минут предложить груз участнику с лучшей ставкой.</span>
                              <i class="fa-solid fa-circle-question" style="color: #b5babf"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="torgi_wrap" class="d-none" style="font-size: 12px;">
                    <span>Участники ATI.SU будут соревноваться, предлагая наиболее выгодную ставку</span>
                    <div class="mt-3">
                      <div class="mb-3 d-flex gap-2">
                        <div class="d-flex" style="width: 128px; gap: 5px;">
                          <i class="fa-solid fa-star-of-life" style="color: red; font-size: 6px;"></i>
                          <span>Начальная ставка</span>
                        </div>
                        <select class="form-control" style="width: 150px; font-size: 12px">
                          <option value="value1" selected>с НДС</option>
                          <option value="value2">без НДС</option>
                        </select>
                        <input type="text" class="form-control" style="width: 150px; font-size: 12px;"
                          placeholder="Сумма">
                        <select class="form-control" style="width: 85px; font-size: 12px">
                          <option value="value1" selected>сом</option>
                          <option value="value2">руб</option>
                        </select>
                      </div>
                      <div class="mb-3 d-flex align-items-center gap-2">
                        <div class="d-flex" style="width: 128px; gap: 5px;">
                          <i class="fa-solid fa-star-of-life" style="color: red; font-size: 6px;"></i>
                          <span>Шаг</span>
                        </div>
                        <input type="text" class="form-control" style="width: 150px;font-size: 12px;" placeholder="сом">
                        <span class="form-label"
                          style="font-size: 12px; color: #838b94; line-height: 1.2; width: 200px">На
                          столько уменьшится ставка после отклика перевозчика</span>
                      </div>
                      <div class="mb-3 d-flex align-items-center gap-2">
                        <div class="d-flex" style="width: 128px; gap: 5px;">
                          <i class="fa-solid fa-star-of-life" style="color: red; font-size: 6px;"></i>
                          <span>Длительность Торгов</span>
                        </div>
                        <div class="d-flex flex-column">
                          <div class="d-flex align-items-center mb-2 gap-2">
                            <select class="form-control" style="width: 200px; font-size: 12px">
                              <option value="value1" selected>4 часа</option>
                              <option value="value2">5 часов</option>
                            </select>
                            <select class="form-control" style="width: 200px; font-size: 12px">
                              <option value="value1" selected>с момента публикации</option>
                              <option value="value2">с момента первой ставки</option>
                            </select>
                          </div>
                          <div class="d-flex gap-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <span>Включить aнтиснайпер продлит торги на 20 секунд, если ставка сделана в последние 20
                              секунд</span>
                          </div>
                        </div>
                      </div>

                      <div id="ptedlojenie" class="d-none">
                        <div class="d-flex  mt-3">
                          <div style="width: 130px;">
                            <span id="close_ptedlojenie"><i class="fa-solid fa-xmark"
                                style="font-size: 16px;"></i></span>
                            <span>Встречные предложения</span>
                          </div>
                          <div class="d-flex flex-column mb-3">
                            <div>
                              <div class="d-flex align-items-center mb-2 gap-2">
                                <select class="form-control" style="width: 150px; font-size: 12px">
                                  <option value="value1" selected>принимать сразу</option>
                                  <option value="value2">принимать через 15 мин</option>
                                </select>
                                <span>после начала Торгов</span>
                              </div>
                              <div>
                                <div class="d-flex gap-2">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  <span>до первой ставки</span>
                                </div>
                                <div class="d-flex gap-2">
                                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                  <span>встречные предложения видны только вам</span>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>

                      <div id="prodlrnie" class="d-none">
                        <div class="d-flex  mt-3">
                          <div style="width: 130px;">
                            <span id="close_prodlrnie"><i class="fa-solid fa-xmark" style="font-size: 16px;"></i></span>
                            <span>Автопродление</span>
                          </div>
                          <div class="d-flex mb-3 gap-2">
                            <label class="mb-3">
                              <div class="d-flex" style="gap: 5px;">
                                <i class="fa-solid fa-star-of-life" style="color: red; font-size: 6px;"></i>
                                <span>продлевать на</span>
                              </div>
                              <input type="text" class="form-control" value="10" placeholder="мин"
                                style="font-size: 12px; width: 150px" />
                            </label>
                            <label class="mb-3">
                              <div class="d-flex" style="gap: 5px;">
                                <i class="fa-solid fa-star-of-life" style="color: red; font-size: 6px;"></i>
                                <span>не более чем на</span>
                              </div>
                              <input type="text" class="form-control" value="60" placeholder="мин"
                                style="font-size: 12px; width: 150px" />
                            </label>
                            <span class="form-label"
                              style="font-size: 12px; color: #838b94; line-height: 1.2; width: 200px; padding-top: 18px;">Продлит
                              Торги,
                              если ставка
                              сделана в последние 5 минут</span>

                          </div>
                        </div>
                      </div>

                      <div id="stavka" class="d-none">
                        <div class="d-flex  mt-3">
                          <div style="width: 130px;">
                            <span id="close_stavka"><i class="fa-solid fa-xmark" style="font-size: 16px;"></i></span>
                            <span>Повышение ставки</span>
                          </div>
                          <div class="d-flex mb-3 gap-2">
                            <label class="mb-3">
                              <div class="d-flex" style="gap: 5px;">
                                <i class="fa-solid fa-star-of-life" style="color: red; font-size: 6px;"></i>
                                <span>продлевать на</span>
                              </div>
                              <input type="text" class="form-control" placeholder="мин"
                                style="font-size: 12px; width: 150px" />
                            </label>
                            <label class="mb-3">
                              <div class="d-flex" style="gap: 5px;">
                                <i class="fa-solid fa-star-of-life" style="color: red; font-size: 6px;"></i>
                                <span>не более чем на</span>
                              </div>
                              <input type="text" class="form-control" placeholder="руб"
                                style="font-size: 12px; width: 150px" />
                            </label>
                            <span class="form-label"
                              style="font-size: 12px; color: #838b94; line-height: 1.2; width: 250px; padding-top: 18px;">Продлит
                              Повысит ставку на шаг, если нет предложений
                              Укажите шаг</span>
                          </div>
                        </div>
                      </div>

                      <div class="mb-3 d-flex align-items-center gap-2">
                        <div class="d-flex" style="width: 128px; gap: 5px;">
                          <i class="fa-solid fa-star-of-life" style="color: red; font-size: 6px;"></i>
                          <span>Выбрать победителя</span>
                        </div>
                        <div class="d-flex flex-column gap-2">
                          <div>
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <span>по лучшей ставке</span>
                          </div>
                          <div>
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <span>с учётом даты загрузки и лучшей ставки</span>
                            <i class="fa-solid fa-circle-question" style="color: #b5babf"></i>
                          </div>
                        </div>
                      </div>

                      <div class="mt-3 d-flex" style="font-size: 12px;">
                        <span style="width: 128px; ">Добавить</span>
                        <div class="d-flex flex-column">
                          <div class="mb-3">
                            <button class="form-btn" id="ptedlojenie_btn">
                              <i class="fa-solid fa-plus"></i>
                              Встречные предложения
                            </button>
                            <button class="form-btn" id="prodlrnie_btn">
                              <i class="fa-solid fa-plus"></i>
                              Автопродление
                            </button>
                            <button class="form-btn" id="stavka_btn">
                              <i class="fa-solid fa-plus"></i>
                              Повышение ставки
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr />

                <div id="the_end_torg" class="d-none">
                  <div class="mb-3 d-flex justify-content-between flex-column gap-2" style="font-size: 12px;">
                    <span>После окончания Торгов</span>

                    <div class="the-end-torg-wrap d-flex flex-column gap-2">
                      <div class="d-flex align-items-center gap-2">
                        <span>Победитель должен предоставить документы за</span>
                        <i class="fa-solid fa-star-of-life" style="color: red; font-size: 6px; "></i>
                        <input type="text" class="form-control" style="width: 70px; font-size: 12px;" value="3"
                          placeholder="ч.">
                        <span>, иначе считаем, что победитель отказался от груза;</span>
                      </div>
                      <div class="d-flex align-items-center gap-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>Автоматически назначать следующего победителя</span>
                        <i class="fa-solid fa-star-of-life" style="color: red; font-size: 6px;"></i>
                        <select name="select" class="form-control" style="height: 32px; width:70px; font-size: 12px;">
                          <option value="value1">1 раза</option>
                          <option value="value2">2 раза</option>
                          <option value="value2" selected>3 раза</option>
                        </select>
                        <span>
                          <i class="fa-solid fa-circle-question" style="color: #b5babf"></i>
                          , если победитель отказался от грузая
                        </span>
                      </div>
                    </div>

                    <div class="the-end-torg-wrap d-flex flex-column gap-2">
                      <div class="d-flex align-items-center gap-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>Перезапускать Торги</span>
                        <select name="select" class="form-control" style="height: 32px; width:70px; font-size: 12px;">
                          <option value="value1">1 раза</option>
                          <option value="value2">2 раза</option>
                          <option value="value2" selected>3 раза</option>
                        </select>
                        <span>, если победителя нет</span>
                      </div>
                      <div class="d-flex align-items-center gap-2">
                        <span>Длительность Торгов после перезапуска</span>
                        <select name="select" class="form-control" style="height: 32px; width:70px; font-size: 12px;">
                          <option value="value1">1 часа</option>
                          <option value="value2">2 часа</option>
                          <option value="value2" selected>4 часа</option>
                        </select>
                      </div>
                      <div class="d-flex align-items-center gap-2">
                        <span>Увеличить начальную ставку торгов после перезапуска на</span>
                        <input type="text" class="form-control" style="width: 70px; font-size: 12px;">
                        <select name="select" class="form-control" style="height: 32px; width:70px; font-size: 12px;">
                          <option value="value1" selected>сом</option>
                          <option value="value2">%</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <hr />
                </div>


                <div class="mb-3 d-flex justify-content-between flex-column" style="font-size: 12px;">
                  <div class="d-flex gap-2">
                    <div style="width: 128px;">
                      <span>Оплата через</span>
                    </div>
                    <div>
                      <div class="d-flex align-items-center gap-2">
                        <input type="text" class="form-control" style="width: 70px;">
                        <span>банковских дней</span>
                      </div>
                      <div class="mb-3 d-flex mt-2 gap-2">
                        <span class="blue_span">3 дн.</span>
                        <span class="blue_span">5 дн.</span>
                        <span class="blue_span">7 дн.</span>
                      </div>
                    </div>
                  </div>

                  <div id="predoplata" class="d-none">
                    <div class="d-flex  mt-3">
                      <div style="width: 128px;">
                        <span id="close_predoplata"><i class="fa-solid fa-xmark" style="font-size: 16px;"></i></span>
                        <span>Предоплата</span>
                      </div>
                      <div class="d-flex flex-column mb-3">
                        <input type="text" class="form-control mb-1" value="1" placeholder="%"
                          style="font-size: 12px; width: 70px" />
                        <div class="d-flex gap-2">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <span>Предоплата топливом</span>
                        </div>
                        <div class="d-flex gap-2">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                          <span>Оплата на выгрузке (скрывает оплату через)</span>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div id="dogovor" class="d-none">
                    <div class="d-flex mt-3">
                      <div style="width: 128px;">
                        <span id="close_dogovor"><i class="fa-solid fa-xmark" style="font-size: 16px;"></i></span>
                        <span>Прямой договор</span>
                      </div>
                      <div class="d-flex gap-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <span>Заключаю договор с перевозчиком от своей фирмы</span>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex mt-3 gap-2">
                    <div style="width: 128px;">
                      <span>Добавить</span>
                    </div>
                    <div>
                      <button class="form-btn" id="predoplata_btn">
                        <i class="fa-solid fa-plus"></i>
                        Предоплата деньгами или топливом
                      </button>
                      <button class="form-btn" id="oplata_btn">
                        <i class="fa-solid fa-plus"></i>
                        Оплата на выгрузке
                      </button>
                      <button class="form-btn" id="dogovor_btn">
                        <i class="fa-solid fa-plus"></i>
                        Прямой договор
                      </button>
                    </div>
                  </div>
                </div>
                <hr />

                <div class="mb-3 d-flex justify-content-between flex-column" style="font-size: 12px;">
                  <div class="mt-3">
                    <div class="mb-3 d-flex align-items-center gap-2">
                      <div style="width: 128px;">
                        <span>Контакты</span>
                      </div>
                      <div class="d-flex flex-column">
                        <span class="mb-2">укажите, к кому обратиться по объявлению</span>
                        <input type="text" class="form-control" style="width: 500px;">
                      </div>
                    </div>
                    <div class="mb-3 d-flex gap-2">
                      <div style="width: 128px;">
                        <span>Примечание</span>
                      </div>
                      <div class="d-flex flex-column">
                        <input type="text" class="form-control" style="width: 500px; height: 50px">
                        <span style="color: #838b94">Не указывайте контакты (телефоны, скайп и пр.), иначе ваш груз
                          удалит модератор.</span>
                      </div>

                    </div>


                    <div id="num_gruz" class="d-none">
                      <div class="d-flex  mt-3">
                        <div style="width: 128px;">
                          <span id="close_num_gruz"><i class="fa-solid fa-xmark" style="font-size: 16px;"></i></span>
                          <span>№ груза или заказа</span>
                        </div>
                        <div class="d-flex flex-column mb-3">
                          <input type="text" class="form-control mb-1" style="font-size: 12px; width: 470px" />
                          <span style="color: #838b94; width: 410px;">По этому номеру груз можно найти в Ваших грузах <i
                              class="fa-solid fa-arrow-up-right-from-square"></i> и
                            Заказах <i class="fa-solid fa-arrow-up-right-from-square"></i>. Номер
                            виден только вашим сотрудникам и исполнителю Заказа.</span>
                        </div>
                      </div>
                    </div>

                    <div id="foto_gruz" class="d-none">
                      <div class="d-flex  mt-3">
                        <div style="width: 128px;">
                          <span id="close_foto_gruz"><i class="fa-solid fa-xmark" style="font-size: 16px;"></i></span>
                          <span>Фото груза и документов</span>
                        </div>
                        <div class="d-flex flex-column mb-3">
                          <input style="width: 470px;" class="form-control form-control-sm mb-1" id="formFileSm"
                            type="file">
                        </div>
                      </div>
                    </div>

                    <div class="d-flex gap-2">
                      <div style="width: 128px;">
                        <span>Добавить</span>
                      </div>
                      <div>
                        <button class="form-btn" id="num_gruz_btn">
                          <i class="fa-solid fa-plus"></i>
                          № груза или заказа
                        </button>
                        <button class="form-btn" id="foto_gruz_btn">
                          <i class="fa-solid fa-plus"></i>
                          Фото
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="width: 30%; padding: 24px 0;">
                <div class="summary">
                  <div class="d-flex">
                    <i class="fa-solid fa-circle-check" style="padding: 3px 10px 10px 10px; color: #b5babf"></i>
                    <div class="d-flex flex-column">
                      <span class="mb-10"><b>Груз</b></span>
                      <span style="color: #838b94;">не заполнено</span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <i class="fa-solid fa-circle-check" style="padding: 3px 10px 10px 10px; color: #64b82a"></i>
                    <div class="d-flex flex-column">
                      <span class="mb-10"><b>Когда</b></span>
                      <span>сегодня и завтра</span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <i class="fa-solid fa-circle-check" style="padding: 3px 10px 10px 10px; color: #64b82a"></i>
                    <div class="d-flex flex-column">
                      <span class="mb-10"><b>Маршрут</b></span>
                      <span>сегодня и завтра</span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <i class="fa-solid fa-circle-check" style="padding: 3px 10px 10px 10px; color: #64b82a"></i>
                    <div class="d-flex flex-column">
                      <span class="mb-10"><b>Транспорт</b></span>
                      <span>отд. машиной 1 машина</span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <i class="fa-solid fa-circle-check" style="padding: 3px 10px 10px 10px; color: #b5babf"></i>
                    <div class="d-flex flex-column">
                      <span class="mb-10"><b>Оплата</b></span>
                      <span style="color: #838b94;">не заполнено</span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <i class="fa-solid fa-circle-check" style="padding: 3px 10px 10px 10px; color: #64b82a"></i>
                    <div class="d-flex flex-column">
                      <span class="mb-10"><b>Дополнительно</b></span>
                      <span>Username,</span>
                      <span>+996(776)338399</span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <i class="fa-solid fa-circle-check" style="padding: 3px 10px 10px 10px; color: #64b82a"></i>
                    <div class="d-flex flex-column">
                      <span class="mb-10"><b>Площадки</b></span>
                      <span>Биржа ATI.SU (Общая площадка)</span>
                    </div>
                  </div>
                  <button class="form-btn"
                    style="text-transform: uppercase; padding: 12px 20px; height: 42px; border-radius: 21px;">
                    Опубликовать груз
                  </button>
                  <div style="text-align: center;">
                    <span class="blue_span">Сохранить как шаблон</span>
                    <i class="fa-solid fa-circle-question" style="color: #b5babf"></i>
                  </div>

                </div>

              </div>
              <hr />
            </div>

            <div class="mt-3" style="width: 70%;">
              <button class="form-btn"
                style="text-transform: uppercase; padding: 12px 20px; height: 42px; border-radius: 21px;">
                Опубликовать груз
              </button>
              <button class="form-btn"
                style="text-transform: uppercase; padding: 12px 20px; height: 42px; border-radius: 21px;">
                Сохранить как шаблон
              </button>
            </div>
        </div>

        <div style="width: 30%; background-color: #ffffff; font-size: 12px; width: 270px">
        </div>
      </div>

      </section>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    </div>
    </div>
  </main>

  <!-- JS here -->
  <script src="js/vendor/modernizr-3.5.0.min.js"></script>
  <script src="js/vendor/jquery-3.6.0.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/ajax-form.js"></script>
  <script src="js/paroller.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/js_isotope.pkgd.min.js"></script>
  <script src="js/imagesloaded.min.js"></script>
  <script src="js/parallax.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.counterup.min.js"></script>
  <script src="js/jquery.scrollUp.min.js"></script>
  <script src="js/jquery.meanmenu.min.js"></script>
  <script src="js/parallax-scroll.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/element-in-view.js"></script>
  <script src="js/main.js"></script>
  <script src="../../template/js/add-gruz.js">
  </script>
</body>

</html>